doctype html
include mix-in.pug
html(lang="en")
  head
      title
      link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Cabin")
      link(rel="stylesheet", href="/styles/babble-styles.css")

  body
  include navbar-grey-logged.pug


block content
  .errors-container
  .babble-container
    .babble-header
      #babble-header
      #babble-subheader
      #babble-user
      #babble-user-fullname
        //- button(class = "follow-btn" type = "button") Follow
      .babble-info
        span(id="babble-date")
        span(id="babble-read-time")
        span(id="babble-topic")
    .babble-image
      img(id="babble-image" class='hidden')
    .babble-content
      p()
    .babble-user-info User Information
      p()

    .babble-comments-container
      .babble-comments-header Comments
        .comments-button
          button(id='comment-add') Comment
      .babble-comments-errors-container
      .babble-comments-div
        .babble-new-comment-div.hidden
          form(class='babble-new-comment')
            .new-comment() New Comment
            textarea#new-comment__textarea(name="newComment" rows="4")
            #comment-buttons
              button#comment-cancel(type='reset') Cancel
              button#comment-submit() Add Comment
        .babble-old-comments


  script(src='../js/babble-view.js')
