doctype html
html
    head
        title
    body
    include navbar-grey-logged.pug
    div(class="main-container")
        div(class="left-container")
        div(class="center-container")
        div(class="right-container")
script(src="js/babble-feed.js")