doctype html
include mix-in.pug
html(lang="en")
  head
      title
      link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Cabin")
      link(rel="stylesheet", href="/styles/babble-styles.css")

  body
  include navbar-grey-logged.pug


block content
  .errors-container
  .babble-container
    .babble-header
      #babble-header

      #babble-subheader
      .extra-info
        #babble-userinfo
          a#babble-user-fullname(href='/')
          #babble-time-metrics
            span#babble-date
            span#babble-read-time
        .babble-info
          #babble-topic
    .babble-image
      img(id="babble-image" class='hidden')
    .babble-content
    .babble-reactions-container()
      span.babble-reaction
        button#babble-reaction__clap clap
        #babble-reaction__clap-count.babble_count
      span.babble-reaction
        button#babble-reaction__like like
        #babble-reaction__like-count.babble_count
      span.babble-reaction
        button#babble-reaction__love love
        #babble-reaction__love-count.babble_count


    .babble-comments-container
      .babble-comments-header Comments
        .comments-button
          button(id='comment-add') Comment
      .babble-comments-errors-container
      .babble-comments-div
        .babble-new-comment-div.hidden
          form(class='babble-new-comment')
            .new-comment() New Comment
            textarea#new-comment__textarea(name="newComment" rows="4")
            #comment-buttons
              button#comment-cancel(type='reset') Cancel
              button#comment-submit() Add Comment
        .babble-old-comments


  script(src='../js/babble-view.js')
