doctype html
html
    head
        link(rel="stylesheet", href="/styles/babble-feed-page.css")
        title
    body
    include navbar-grey-logged.pug
    div(class="main-container")

        div(class="main-top-container")

            div(class="top-babbles-container")

                div(class="babbles-container-left")
                    div(class="main-babble")
                        div(class="main-babble-img-div")
                        div(class="main-babble-info")

                div(class="babbles-container-right")
                    div(class="side-babble-1")
                    div(class="side-babble-2")
                    div(class="side-babble-3")
                    div(class="side-babble-4")

                div(class="follow-container")
<<<<<<< HEAD
=======
                    div(class="follow-user-0")
                        //- div(class="follow-user-img")
                        //- div(class="follow-user-info")
>>>>>>> 99dc494ab3ec8c34d0c2b5bbad51caf69eb4c63a
                    div(class="follow-user-1")
                        //- div(class="follow-user-img")
                        //- div(class="follow-user-info")
                    div(class="follow-user-2")
                        //- div(class="follow-user-img")
                        //- div(class="follow-user-info")
                    div(class="follow-user-3")
                        //- div(class="follow-user-img")
                        //- div(class="follow-user-info")
                    div(class="follow-user-4")
                        //- div(class="follow-user-img")
                        //- div(class="follow-user-info")
<<<<<<< HEAD
                    div(class="follow-user-5")
                        //- div(class="follow-user-img")
                        //- div(class="follow-user-info")
=======
>>>>>>> 99dc494ab3ec8c34d0c2b5bbad51caf69eb4c63a

        div(class="main-center-container")

            div(class="trending-babbles-container")
                div(class="trending-babble-1")
                    div(class="trending-babble-user-info")
                    div(class="trending-babble-info")
                div(class="trending-babble-2")
                    div(class="trending-babble-user-info")
                    div(class="trending-babble-info")
                div(class="trending-babble-3")
                    div(class="trending-babble-user-info")
                    div(class="trending-babble-info")
                div(class="trending-babble-4")
                    div(class="trending-babble-user-info")
                    div(class="trending-babble-info")
                div(class="trending-babble-5")
                    div(class="trending-babble-user-info")
                    div(class="trending-babble-info")
                div(class="trending-babble-6")
                    div(class="trending-babble-user-info")
                    div(class="trending-babble-info")

        div(class="main-bottom-container")

            div(class="babbles-container")
                div(class="babble-1")
                    div(class="babble-info")
                    div(class="babble-img")
                div(class="babble-2")
                    div(class="babble-info")
                    div(class="babble-img")
                div(class="babble-3")
                    div(class="babble-info")
                    div(class="babble-img")
                div(class="babble-4")
                    div(class="babble-info")
                    div(class="babble-img")
                div(class="babble-5")
                    div(class="babble-info")
                    div(class="babble-img")

script(src="js/babble-feed.js")