<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/styles/followers-following.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Cabin")
    title Document

  body
    include navbar-grey-logged.pug

    div(class="follow-list-div")
      div(class="follow-title" id="followers-list" ) followingggg

script(src="/js/following.js" type="module")
