doctype html
include mix-in.pug
html(lang="en")
    head
        link(rel="stylesheet", href="./styles/form-styles.css")
        title Babble-On
    body
    form(action='' method="post")
        +field("Email", "email", null, "email")
        +field("Password", "password", null, "password")
        div.btn-container
            button(class = "sign-up-btn" type = "submit") Log In
        div
            a(href='/sign-up') Don't have an account? Sign up here.
