link(rel="stylesheet", href="/styles/navbar-grey-logged.css")
link(href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet")

.nav-container
  span
    a.home-container(id="babble-on-text" href='/')
      img(class = 'text-logo' src="/resources/babble-on-text.png" alt="babble-on text logo")
    //- p(id="babble-on-text") Babble-On
  span
    img(class="nav__icon" src='/resources/Babble-all.png')
  span
    div.container
      img(class="nav__search" src='/resources/search-icon.png')
      input(type="text" class = 'search__bar')
    div.dropdown
      img(class="nav__menu" src='/resources/drop-down-logo.png')
      div.dropdown-content
        a(href="/") My Profile
        div
        a(href="/") Edit Profile
        div
        a(href="/log-in") Sign Out
