link(rel="stylesheet", href="/styles/navbar-grey-logged.css")
link(href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet")
script(src="/js/nav-bar.js")

.nav-container
  span
    a.home-container(id="babble-on-text" href='/')
      img(class = 'text-logo' src="/resources/babble-on-text.png" alt="babble-on text logo")
    //- p(id="babble-on-text") Babble-On
  span
    img(class="nav__icon" src='/resources/Babble-all.png')
  span
    div.container
      input(type = "image" class="nav__search" src='/resources/search-icon.png' for= 'search')
      input(type="text" class = 'search__bar' name = 'search')
    div.dropdown
      img(class="nav__menu" src='/resources/drop-down-logo.png')
      div.dropdown-content
        a.dropdown-link(href="/") My Profile
        div
        a.dropdown-link(href="/") Edit Profile
        div
        a.dropdown-link#nav-bar__sign-out(href="/log-in") Sign Out
        div(id='create-babble__link')
        a.dropdown-link(href='/babbles/create') Create Babble
