link(rel="stylesheet", href="/navbar-styles.css")
link(href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet")

.nav-container
  span
    a.home-container(id="babble-on-text" href='/') Babble-On
    //- p(id="babble-on-text") Babble-On
  span
    img(class="nav__icon" src='/resources/Babble-all.png')
  span
    img(class="nav__search" src='/resources/search-icon.png')
    img(class="nav__menu" src='/resources/drop-down-logo.png')
