link(rel="stylesheet", href="/styles/navbar-white-sign-up.css")

.nav-container
  div
    a.home-container(id="babble-on-text" href='/')
      img(class = 'text-logo' src="/resources/babble-on-text.png" alt="babble-on text logo")
    //- p(id="babble-on-text") Babble-On
  div
    img(class="nav__icon" src='/resources/Babble-all.png')
  div.links
    a(href='/sign-up') Sign up
    div.log-in
    a(href='/log-in') Log-in
