<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/styles/profile-page-styles.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Cabin")
    title Document
  body

    include navbar-grey-logged.pug
    div(class="followers-list-div")
      div(class="followers-title") following

    div(class="main-container")
      div(class="top-div-container")
        div(class="top-left-div-container")
          div(class="user-name-div")
          div(class="profile-pic-div")
            img(src="https://images.medicaldaily.com/sites/medicaldaily.com/files/2014/06/10/journal-writing.jpg")
          div(class="user-info-div")
            div(class="username-div")
            div(class="user-email-div")
        div(class="top-center-div-container")
          div(class="bio-div")
        div(class="top-right-div-container")
          span(class="followers-count-div")
          span(class="following-count-div")




script(src="js/profile.js")
