<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/styles/profile-edit-styles.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Cabin")
    title Document
  body

    include navbar-grey-logged.pug

    div(class="main-container")
      div.errors-container
      form(class="profile-edit-form")
        .top-div
          .profile-pic-div
            img.profile-pic
          .form-title Edit Profile
        div(class="firstName-div")
          label(for="firstName-label" class="firstName-label first-Name-group")
          input(id="firstName-input" class="firstName-input first-Name-group")
        div(class="lastName-div")
          label(for="lastName-label" class="lastName-label last-Name-group")
          input(id="lastName-input" class="lastName-input last-Name-group")
        div(class="email-div")
          label(for="email-label" class="email-label email-group")
          input(id="email-input" class="email-input email-group")
        div(class="bio-div")
          label(for="bio-label" class="bio-label bio-group")
          textarea(id="bio-input" class="bio-input")
        div.btn-container
          button(class = "update-btn" type ="submit") update


script(src="/js/profile-edit.js")
