<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/styles/profile-edit-styles.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Cabin")
    title Document
  body

    include navbar-grey-logged.pug

    div(class="main-container")
      div.errors-container
      form(class="profile-edit-form")
        .top-div
          .form-title Edit Profile
          .profile-pic-div
            img.profile-pic
        div(class="firstName-div")
          input(placeHolder="first name" id="firstName-input" class="firstName-input first-Name-group")
        div(class="lastName-div")
          input(placeHolder="last name" id="lastName-input" class="lastName-input last-Name-group")
        div(class="email-div")
          input(placeHolder="e-mail" id="email-input" class="email-input email-group")
        div(class="bio-div")
          textarea(placeHolder="biography (max 300 characters)" id="bio-input" class="bio-input")
        div.btn-container
          button(class = "update-btn" type ="submit") update


script(src="/js/profile-edit.js")
