<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/styles/profile-page-styles.css")
    title Document
  body
    div(class="main-container")
      div(class="top-div-container")
        div(class="top-left-div-container")
          div(class="username-div")
          div(class="profile-pic-div")
            img(src="https://images.medicaldaily.com/sites/medicaldaily.com/files/2014/06/10/journal-writing.jpg")
          div(class="user-info-div")
            div(class="user-name-div")
            div(class="user-email-div")
        div(class="top-center-div-container")
          div(class="bio-div")
        div(class="top-right-div-container")
          div(class="follow-list-div")
      div(class="bottom-div-container")
        div(class="bottom-left-div-container") 1
          div(class="babble-text-div")
          div(class="timestamp-div")
        div(class="bottom-right-div-container") 2


script(src="js/profile.js")
