<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/styles/profile-page-styles.css")
    title Document
  body
    div(class="top-div-container")
      div(class="top-left-div-container") 1
      div(class="top-center-div-container") 2
      div(class="top-right-div-container") 3
    div(class="bottom-div-container")
      div(class="bottom-left-div-container") 1
      div(class="bottom-right-div-container") 2


script(src="js/profile.js")
