<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/styles/search-topic.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Cabin")
    title Babble-On
  body
    include navbar-grey-logged.pug
    .search-container

script(src="/js/search-topic.js")
