doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="./styles/form-styles.css")
        title Babble-On
    body
    //- +validationErrorSummery(errors)
    form(action='' method="post")
        input(type="hidden" name='_csrf' value=csrfToken)
        +field("First Name", "firstName", user.firstName)
        +field("Last Name", "lastName", user.lastName)
        +field("Email", "email", user.email, "email")
        +field("Password", "password", user.password, "password")
        +field("Confirm Password", "confirmPassword", " ", "password")
        div.btn-container
            button(class = "sign-up-btn" type = "submit") Sign Up
        div
            a(href='/log-in') Already have an account? Log in here.
