body {
  background-color: rgba(65, 172, 131, .25) ;
}

input{
  font-family: Cabin;
  margin: 0;
  height: 40px;
  width: 700px;
  font-size: 22px;
  position: relative;
  bottom: 75px;
  align-items: flex-end;
  border: none;
}

.create-babble-form__title input{
  height: 70px;
  font-size: 3em;
  text-align: left;
}
.create-babble-form__subheader input{
  height: 50px;
  font-size: 2em;
  text-align: left;
}
.create-babble-form__reading-time input {
  height: 40px;
  font-size: 1em;
  text-align: left;
}
.create-babble-form__content input {
  height: 300px;
  font-size: 1.5em;
  overflow: scroll;
}
.create-babble-form__url input {
  height: 40px;
  font-size: 1em;
}
.create-babble-form__topic select{
  height: 50px;
  text-align:right;
  align-self: right;
}



.create-babble-form{
  margin: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: flex-start;
  /* border: 1px solid black; */
  background-color: white;
  border-radius: 5%;
  height: 843px;
  width: 960px;
}

button{
  justify-self: right;
  position: relative;
  background-color: rgba(65, 172, 131, .75);
  color: white;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.15);
  height: 30px;
  width: 80px;
  font-family: Cabin;

  /* font-size: 10px; */
  /* font-weight: bold; */
  margin: auto;
  margin-bottom: 20px;
}


/* .log-in-form{
  align-content: center;
  width: 400px;
}
*/



/* .log-in-logo{
  width: 194px;
  height: 194px;
  justify-content: center;
  position: relative;
  bottom: 100px;
}


input{
  margin: 30px;
  border-radius: 50px;
  height: 40px;
  width: 250px;
  font-size: 22px;
  position: relative;
  bottom: 75px;
  align-items: flex-end;
}




.redirect{
  text-align: center;
}

p{
  position: relative;
  bottom: 75px;
}

label{
  position: relative;
  bottom: 75px;
  width: 40px;
}

.btn-container{
  display: flex;

}
.form-group{
  justify-content: space-between;
  display: flex;
  align-items: center;
} */
