.main-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.left-container {
    background-color: gray;
}

.center-container {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    background-color: grey;
}
.babble-div {
    background-color: white;
    justify-content: space-evenly;
}
.babble-img {
    width: 200px;
    height: 200px;
}