body {
  background-color: rgba(65, 172, 131, .25) ;
}

input{
  font-family: Cabin;
  margin: 0;
  height: 40px;
  width: 700px;
  font-size: 22px;
  bottom: 75px;
  align-items: flex-end;
  border: none;
}

.create-babble-form__title input{
  height: 70px;
  font-size: 3em;
  text-align: left;
}
.create-babble-form__subheader input{
  height: 50px;
  font-size: 2em;
  text-align: left;
}
.create-babble-form__reading-time input {
  height: 40px;
  font-size: 1em;
  text-align: left;
}
.create-babble-form__content {
  font-size: 1.5em;
  width: 700px
}
.create-babble-form__url input {
  height: 40px;
  font-size: 1em;
}
.create-babble-form__topic select{
  height: auto;
  width: 90%;
  text-align:right;
}

.create-babble-form__topic {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.errors-container {
  color: black;
  background-color: lightcoral;
}

.create-babble-form-div {
  margin: auto;
  padding: 12px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: flex-start;
  /* border: 1px solid black; */
  background-color: white;
  border-radius: 10px;
  height: 100%;
  width: 66%;
}

#babble-form__textarea {
  resize: none;
  width: 100%;
}

.hidden {
  display: none;
}

button{
  justify-self: right;
  position: relative;
  background-color: rgba(65, 172, 131, .75);
  color: white;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.15);
  height: 30px;
  width: 80px;
  font-family: Cabin;
  margin: auto;
  margin-bottom: 20px;
}

.btn-container {
  display: flex;
  justify-content: space-around;
}

/* .log-in-form{
  align-content: center;
  width: 400px;
}
*/



/* .log-in-logo{
  width: 194px;
  height: 194px;
  justify-content: center;
  position: relative;
  bottom: 100px;
}


input{
  margin: 30px;
  border-radius: 50px;
  height: 40px;
  width: 250px;
  font-size: 22px;
  position: relative;
  bottom: 75px;
  align-items: flex-end;
}




.redirect{
  text-align: center;
}

p{
  position: relative;
  bottom: 75px;
}

label{
  position: relative;
  bottom: 75px;
  width: 40px;
}
.form-group{
  justify-content: space-between;
  display: flex;
  align-items: center;
} */
