body{
    background-color: rgba(65, 172, 131, .25) ;
    font-size: 22px;
    font-family: Cabin;
}

html, body {
    margin: 0;
    height: 100%;
  }



.log-in-form-container{
    margin: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    border: 1px solid black;
    background-color: white;
    border-radius: 10%;
    height: 843px;
    width: 960px;
}

.log-in-logo{
    width: 194px;
    height: 194px;
    justify-content: center;
    position: relative;
    bottom: 85px;
}

.logo-left{
    width: 194px;
    height: 194px;
    justify-content: center;
    position: relative;
    bottom: 100px;
    right: 325px;
    transform: rotate(-20deg);
}

.log-in-form{
    align-content: center;
    width: 400px;
}

input{
    margin: 30px;
    border-radius: 50px;
    height: 40px;
    width: 250px;
    font-size: 22px;
    position: relative;
    bottom: 75px;
    align-items: flex-end;
}

button{
    justify-self: center;
    position: relative;
    background-color: rgba(65, 172, 131, .75);
    border-radius: 50px;
    height: 80px;
    width: 300px;
    font-size: 30px;
    font-weight: bolder;
    margin: 10px;
    margin-bottom: 20px;
}



.redirect{
    text-align: center;
}

p{
    position: relative;
    bottom: 75px;
}

a{
    position: relative;
    justify-content: center;
    display: flex;
    bottom: 200px;
    font-weight: bold;
}


label{
    position: relative;
    bottom: 75px;
    width: 40px;
}

.btn-container{
    display: flex;
    position: relative;
    bottom: 80px;
    left: 40px;
}

.form-group{
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.errors-container{
    width: fit-content;
    height: fit-content;
    background-color: rgba(255, 40, 40, 0.25);
    border: 2px solid rgb(255, 40, 40);
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    align-items: center;
    padding: 10px;
    position: relative;
    top: 50px;
}


.demo-form{
    justify-content: center;
    display: flex;
    position: relative;
    bottom: 225px;
}
