
* {
  outline: solid;
  font-family: Cabin;
 }


.nav-container {
  /* padding-top: 500px; */
  background-color: rgba(65, 172, 131, .25) ;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(189, 195, 199, 1);
  align-items: center;
  /* position: relative; */
}

.nav__icon {
  height:45px;
  padding-left: 30px;
}

.nav__menu {
  width:60px;
  /* height:35px; */
}
.nav__search {
    /* width:55px; */
  height:27px;
  border: 1px, solid, black;
  /* position: relative; */
}

#babble-on-text {
  font-family: 'Berkshire Swash';
  font-size: 30px;

}
