html, body {
  margin: 0;
  height: 100%;
  overflow: hidden
}


.nav-container {
  background-color: rgb(183, 183, 183);
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  align-items: center;
}

.text-logo {
  height: 50px;
  width: 200px
}

.nav__icon {
  position: relative;
  display: flex;
  height:45px;
  padding-left: 30px;
  align-self: center;
}

.nav__menu {
  width:60px;
  display: flex;
  position: relative;
  bottom: 25px;
  right: 30px;
}

.nav__search {
  display: flex;
  position: relative;
  height:27px;
  right: 400px;
  top: 30px;
}

.search__bar{
  display: flex;
  position: relative;
  right: 350px;
  top: 5px;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 1px solid black;
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-link{
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#create-babble__link {
  border-top: 2px solid lightgray;
  padding: 5px;
}
